
.footer__container {
    padding: 48px 0;
  }
  .footer__row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 32px;
  }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  p {
    color: #667085;
    font-weight: 400;
    font-size: 16px;
  }

  /* responsiveness */
  @media (max-width:652px) {
    footer {
      display: none;
    }
  }

  @media (max-width:375px) {
    footer {
      display: none;
    }
}