@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  padding: 64px 0;
}
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 32px;
}

/* PROFILE SECTION STYLES */
#profile {
  position: relative;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
}

.profile__img--mask {
  height: 88px;
  width: 88px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}
#profile__img {
  width: 100%;
}

.profile__name {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #101828;
}

/* SHARE BUTTON  */

.button__share {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px dotted #98a2b3;
  background-color: white;
  cursor: pointer;
}
.button__wrapper {
  position: absolute;
  top: -20px;
  right: 10%;
}

/* LINKS SECTION
 */
.link {
  margin-bottom: 24px;
}
.link__btn {
  padding: 24px;
  gap: 8px;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
#slack {
  display: none;
}
.links__wrapper {
  display: flex;
  flex-direction: column;
}
.link:last-child {
  margin-bottom: 0;
}

/* SOCIAL SECTION  
*/

.social__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  margin-top: 24px;
}
.github__icon {
  margin-left: 24px;
}

/* FOOTER  */

.footer__container {
  padding: 48px 0;
}
.footer__row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 32px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
p {
  color: #667085;
  font-weight: 400;
  font-size: 16px;
}

/* RESPONSIVE */
.hamburger {
  display: none;
}

@media (max-width:375px) {
    footer {
      display: none;
    }
    .hamburger {
      display: block;
    }
    .share {
      display: none;
    }
    .button__wrapper {
      right: 0;
    }
}

@media (max-width:652px) {
  footer {
    display: none;
  }
}
@media (max-width:225px) {
  .button__wrapper {
    right: -20%;
  }
}
